<section class="list">
  <div class="options flex col">
    
    <button id="btn-ver-maquinas" class="botao-lista active">
        Ver máquinas
    </button>

    <button id="btn-ver-estatisticas" class="botao-lista">
        Estatísticas
    </button>
    
    <button id="btn-ver-perfis" class="botao-lista" style="display: none;">
        Ver perfis
    </button>
    
    <!-- <button class="botao-lista">Sua máquina</button> -->
    
    <a
      href="https://www.flaticon.com/free-icons/production"
      title="production icons"
      >Production icons created by Pixel perfect - Flaticon</a
    >
  </div>
</section>