<form id="formLogin" class="auth-form">
<section class="login">
    <div class="container flex col">
        <div class="title-txt">Login</div>
        <div class="textboxes flex col">
        <input id="emailLogin" class="textbox" type="email" placeholder="Email" required />
        <input id="senhaLogin" class="textbox" type="password" placeholder="Senha" required />
    </div>
        <button class="submit-btn" type="submit">
            <span class="button-text">Entrar</span>
            <span class="button-loader"></span> 
        </button>
    </div>
</section>
</form>