<form id="formCadastro" class="auth-form">
<section class="register">
    <div class="container flex col">
    <div class="title-txt">Cadastro</div>
    <div class="textboxes flex col">
        <input id="nomeCadastro" class="textbox" type="text" placeholder="Nome Completo" required />
        <input id="emailCadastro" class="textbox" type="email" placeholder="Email" required />
        <input id="senhaCadastro" class="textbox" type="password" placeholder="Senha" required />
        <input id="confirmSenhaCadastro" class="textbox" type="password" placeholder="Confirmar Senha" required />
    </div>
    <button class="submit-btn" type="submit">Cadastre-se</button>
    </div>
</section>
</form>