<section id="user-card">
    <div class="info-item">
        <span>Nome:</span>
        <span id="user-name">—</span>
    </div>
    <div class="info-item">
        <span>Email:</span>
        <span id="user-email">—</span>
    </div>
    <div class="info-item">
        <span>Criado em:</span>
        <span id="user-created">—</span>
    </div>
    <div class="info-item">
        <span>Papel:</span>
        <span id="user-role">—</span>
    </div>

    <button id="logout-btn">Sair</button>
</section>