<div class="components">
    
    <div class="tabs">
        <button id="newtab" class="admin-visible">+</button>
    </div>

    <div class="screen" id="machines-screen-content">
        <p>Carregando máquinas...</p>
    </div>

    <div class_controls" style="padding: 1rem; background-color: #f3f2f2; border-top: 1px solid #c8c3c3; text-align: right;">
        <button id="btn-criar-maquina" class="logout-btn" style="border-color: #3399e6; color: #3399e6;">
            + Criar Nova Máquina
        </button>
    </div>
</div>