* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #303030;
}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

/* Aqui começam as especificações do style da página de login e cadastro. */
.main {
  width: 100vw;

  .register {
    .container /* Flex Container */ {
      height: 100vh;
      width: 50vw;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .signuptxt {
      font-size: 4rem;
      font-weight: 700;
    }

    .textboxes {
      gap: 1.5rem;
      width: 27rem;
      .textbox {
        height: 3rem;
        padding-left: 1rem;
        border: rgb(0, 0, 0, 0);
        box-shadow: 0px 1px rgb(0, 0, 0, 0.1);
        background-color: rgb(247, 247, 247);
      }
    }

    .signupbtn {
      padding: 1rem 5rem;
      border-radius: 15rem;
      border: rgb(0, 0, 0, 0);

      &:hover {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
      }
    }
  }
  .login {
    .container /* Flex Container */ {
      height: 100vh;
      width: 50vw;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .signintxt {
      font-size: 4rem;
      font-weight: 700;
    }

    .textboxes {
      gap: 1.5rem;
      width: 27rem;
      .textbox {
        height: 3rem;
        padding-left: 1rem;
        border: rgb(0, 0, 0, 0);
        box-shadow: 0px 1px rgb(0, 0, 0, 0.1);
        background-color: rgb(247, 247, 247);
      }
    }

    .signinbtn {
      padding: 1rem 5rem;
      border-radius: 15rem;
      border: rgb(0, 0, 0, 0);

      &:hover {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
      }
    }
  }
}

/* Estilo da notificação */
.notificacao {
  position: fixed;
  top: 20px;
  right: 40vw;

  background: #6fff00;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;

  pointer-events: none;
  display: none;

  &.show {
    display: block;
    pointer-events: auto;
  }
}
