* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #303030;
}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

/* Aqui começam as especificações do style da página de login e cadastro. */
.main {
  width: 100vw;
}

.login {
  .container /* Flex Container */ {
    height: 100vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .signintxt {
    font-size: 4rem;
    font-weight: 700;
  }
  /* 
    .icons {
        gap: 1rem;
        align-items: center;


        .icon {
            border: 1px solid rgb(0,0,0, 0.2);
            border-radius: 50%;
            padding: 1rem;
            padding-bottom: 0.5rem;
            img {
                width: 3rem;
                height: 3rem;
                object-fit: contain;
            }            
        }

    } 
    */

  .textboxes {
    gap: 1.5rem;
    width: 27rem;
    .textbox {
      height: 3rem;
      padding-left: 1rem;
      border: rgb(0, 0, 0, 0);
      box-shadow: 0px 1px rgb(0, 0, 0, 0.1);
      background-color: rgb(247, 247, 247);
    }
  }

  .forgotpassword {
    a {
      &:link,
      &:visited {
        color: rgb(163, 163, 163);
        font-size: 1.4rem;
      }

      &:hover {
        color: blue;
      }

      &:active {
        color: darkblue;
      }

      &:visited {
        color: purple;
      }
    }
  }

  .signinbtn {
    padding: 1rem 5rem;
    border-radius: 15rem;
    border: rgb(0, 0, 0, 0);
  }
}

.cadastro {
  .container {
    height: 100vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgb(204, 204, 204);
  }

  .title {
    font-size: 4rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.4rem;
    width: 35rem;
    text-align: center;
  }

  .signupbtn {
    padding: 1rem 3rem;
    border-radius: 15rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(204, 204, 204);
  }
}
