
* { padding: 0; margin: 0; box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Montserrat", sans-serif; font-size: 1.6rem; line-height: 1.2; color: #303030; }
.flex { display: flex; }
.flex.col { flex-flow: column; }

.main {
  width: 100vw;
  overflow: hidden;
}

.auth-form {
  position: relative;
  z-index: 0;
}

.auth-form .container {
  height: 100vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.auth-form .title-txt {
  font-size: 4rem;
  font-weight: 700;
  color: #3399e6;
;
}

.auth-form .textboxes {
  gap: 1.5rem;
  width: 27rem;
}

.auth-form .textbox {
  height: 3.5rem;
  padding-left: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 1.4rem;
}

.auth-form .textbox-senha {
  height: 3.5rem;
  padding-left: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 1.4rem;
}

.auth-form .submit-btn {
  padding: 1rem 5rem;
  border-radius: 15rem;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #3399e6;
  color: white;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.auth-form .submit-btn:hover {
  background-color: #505050;
}

.campo-senha {
  position: relative
}

.campo-senha .textbox-senha {
  width: 100%;
  padding-right: 40px;
}

#btn-visualizar {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.pager {
  position: fixed;
  left: 50%;
  z-index: 5;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #3399e6;
  color: rgb(255, 255, 255);
  transition: left 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pager.cadastro {
  left: 0%;
}

.pager .titulo {
  font-weight: 700;
  font-size: 3.5rem;
  width: 40rem;
  text-align: center;
}

.pager .swap-btn {
  border: 2px solid #ffffff;
  border-radius: 15rem;
  background-color: transparent;
  color: white;
  padding: 1rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pager .swap-btn:hover {
  background-color: white;
  color: #303030;
}

.notificacao {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #28a745;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
  display: none;
}

.notificacao.show {
  display: block;
  top: 40px;
  opacity: 1;
}

.notificacao.error {
  background: #dc3545;
}