/* ESTE ARQUIVO É UM TRABALHO EM PROGRESSO. O MEDIA QUERY AINDA NÃO FUNCIONA. */


@media (max-width: 980px) {
  /* CSS rules for screens 980px wide or smaller */
}

@media (max-width: 825px) {
  /* CSS rules for screens 980px wide or larger */
  .main {
    flex-flow: column;
  }

  .container {
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 1rem;
  }

  .auth-form {
    .textboxes {
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      max-width: 90vw;
      gap: 1rem;
    }

    .textbox,
    .textbox-senha {
      flex: 1;
      min-width: 12rem;
    }
  }

  .pager {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
    padding: 2rem 1rem;

    .titulo {
      width: auto;
      font-size: 2.2rem;
      text-align: center;
    }
  }
}
