.submit-btn {
    position: relative;
    min-height: 4.5rem;
}

.submit-btn .button-loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.submit-btn.loading .button-text {
    visibility: hidden;
}

.submit-btn.loading .button-loader {
    display: block;
}

.submit-btn:disabled {
    cursor: not-allowed;
    background-color: #999;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}